<h3>Wanna hear a joke?</h3>
<%= link_to 'Tell Me!', '/question' %>
<h2><%= link_to 'JEREMY DUNCAN', '/jeremyduncan' %></h2>

<h2><%= link_to 'Cubed', '/cubed/4' %><h2>
<h2><%= link_to 'Evenly', '/evenly/4+8' %><h2>
<h2><%= link_to 'Palindrome', '/palindrome/racecar' %><h2>